* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 14px;
}
div {
    background: silver;
    height: 150px;
}
div:nth-child(odd) {
    width: 75%;
}
div:nth-child(even) {
    width: 50%;
}
.headers {
    padding: 10px 0 0 10px;
}
.root {
    margin: 10px 0 10px 10px;
    font-size: 20px;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

div:nth-child(3) h2 {
    font-size: 2rem;
}
div:nth-child(3) h3 {
    font-size: 1rem;
}